*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.rdb
*.rdx
*(1).*
*[Конфликт].*
books
hse
xls
ведомость
курсовые
магистратура
labs
labs-2017
labs-2016
codes
coursera
ppt
manuals
.Rproj.user
